NODE-RED API.txt
[
    {
        "id": "58725495.a1197c",
        "type": "tab",
        "label": "Gateway"
    },
    {
        "id": "f334d783.f02cb8",
        "type": "tab",
        "label": "API"
    },
    {
        "id": "be2b3fa7.c7728",
        "type": "tab",
        "label": "CLIENTE REST"
    },
    {
        "id": "4e2218be.dd3e78",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "41d6ccc0.682d24",
        "type": "mqtt-broker",
        "z": "",
        "broker": "10.20.92.51",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "fiap/lab902/arduino08/luz",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "8ecad5f8.de3ab8",
        "type": "serial in",
        "z": "58725495.a1197c",
        "name": "Serial Com3",
        "serial": "4e2218be.dd3e78",
        "x": 76,
        "y": 112,
        "wires": [
            [
                "ce0ec76f.1534b8"
            ]
        ]
    },
    {
        "id": "a3a8b156.57922",
        "type": "mqtt out",
        "z": "58725495.a1197c",
        "name": "",
        "topic": "fiap/lab902/arduino08/luz",
        "qos": "",
        "retain": "",
        "broker": "41d6ccc0.682d24",
        "x": 483,
        "y": 93,
        "wires": []
    },
    {
        "id": "ce0ec76f.1534b8",
        "type": "function",
        "z": "58725495.a1197c",
        "name": "Valor recebido",
        "func": "var obj = JSON.parse(msg.payload.trim());\n    if(obj.luz){\n        msg.payload = obj.luz;\n        return msg;\n    }else{\n        return undefined;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 236,
        "y": 203,
        "wires": [
            [
                "a3a8b156.57922",
                "237e818e.c5aafe"
            ]
        ]
    },
    {
        "id": "a7ba145.d789de8",
        "type": "function",
        "z": "58725495.a1197c",
        "name": "Formata Saída",
        "func": "msg.payload = {\"led\":parseInt(msg.payload)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 335,
        "y": 439,
        "wires": [
            [
                "8a444350.3e6cf",
                "82138ed1.1091c"
            ]
        ]
    },
    {
        "id": "8a444350.3e6cf",
        "type": "serial out",
        "z": "58725495.a1197c",
        "name": "Serial Com3",
        "serial": "4e2218be.dd3e78",
        "x": 550,
        "y": 338,
        "wires": []
    },
    {
        "id": "93c3d8b3.8c6908",
        "type": "mqtt in",
        "z": "58725495.a1197c",
        "name": "",
        "topic": "fiap/lab902/arduino08/led",
        "qos": "2",
        "broker": "41d6ccc0.682d24",
        "x": 122,
        "y": 343,
        "wires": [
            [
                "a7ba145.d789de8"
            ]
        ]
    },
    {
        "id": "82138ed1.1091c",
        "type": "debug",
        "z": "58725495.a1197c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 438,
        "wires": []
    },
    {
        "id": "237e818e.c5aafe",
        "type": "debug",
        "z": "58725495.a1197c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 464,
        "y": 202,
        "wires": []
    },
    {
        "id": "6e3f19cc.cc7a98",
        "type": "mqtt out",
        "z": "58725495.a1197c",
        "name": "",
        "topic": "fiap/lab902/arduino08/led",
        "qos": "",
        "retain": "",
        "broker": "41d6ccc0.682d24",
        "x": 361,
        "y": 552,
        "wires": []
    },
    {
        "id": "1e406ed1.7743f1",
        "type": "inject",
        "z": "58725495.a1197c",
        "name": "",
        "topic": "",
        "payload": "200",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 107,
        "y": 552,
        "wires": [
            [
                "6e3f19cc.cc7a98"
            ]
        ]
    },
    {
        "id": "b78c25be.6985f8",
        "type": "function",
        "z": "f334d783.f02cb8",
        "name": "Formata Resposta",
        "func": "msg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Access-Control-Allow-Origin\":\"*\"\n};\nmsg.payload = {\"value\": parseInt(flow.get(\"luz\"))}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 239,
        "wires": [
            [
                "7c32273b.a29298"
            ]
        ]
    },
    {
        "id": "c8234006.e7b1",
        "type": "mqtt in",
        "z": "f334d783.f02cb8",
        "name": "",
        "topic": "fiap/lab902/arduino08/luz",
        "qos": "0",
        "broker": "41d6ccc0.682d24",
        "x": 197,
        "y": 74,
        "wires": [
            [
                "a77dcee8.18d4f"
            ]
        ]
    },
    {
        "id": "a77dcee8.18d4f",
        "type": "change",
        "z": "f334d783.f02cb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "luz",
                "pt": "flow",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 459,
        "y": 73,
        "wires": [
            []
        ]
    },
    {
        "id": "7aa5c0e8.9c3fc",
        "type": "http in",
        "z": "f334d783.f02cb8",
        "name": "",
        "url": "/luz",
        "method": "get",
        "swaggerDoc": "",
        "x": 157,
        "y": 159,
        "wires": [
            [
                "b78c25be.6985f8"
            ]
        ]
    },
    {
        "id": "7c32273b.a29298",
        "type": "http response",
        "z": "f334d783.f02cb8",
        "name": "",
        "x": 546,
        "y": 151,
        "wires": []
    },
    {
        "id": "515fea23.31d4f4",
        "type": "http in",
        "z": "f334d783.f02cb8",
        "name": "",
        "url": "/led",
        "method": "put",
        "swaggerDoc": "",
        "x": 143,
        "y": 483,
        "wires": [
            [
                "791925b0.b4bc0c"
            ]
        ]
    },
    {
        "id": "791925b0.b4bc0c",
        "type": "function",
        "z": "f334d783.f02cb8",
        "name": "Parse LED value",
        "func": "if(\"value\" in msg.payload){\n    msg.statusCode = 200;\n    msg.payload = msg.payload.value;\n}else{\n    msg.statusCode = 400;\n    msg.payload = \"Deu Xabu!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 311,
        "y": 570,
        "wires": [
            [
                "e863788a.d34e48",
                "14bbdcab.729003"
            ]
        ]
    },
    {
        "id": "e863788a.d34e48",
        "type": "http response",
        "z": "f334d783.f02cb8",
        "name": "",
        "x": 532,
        "y": 478,
        "wires": []
    },
    {
        "id": "c85d27ec.f0a248",
        "type": "mqtt out",
        "z": "f334d783.f02cb8",
        "name": "",
        "topic": "fiap/lab902/arduino08/led",
        "qos": "1",
        "retain": "true",
        "broker": "41d6ccc0.682d24",
        "x": 614,
        "y": 681,
        "wires": []
    },
    {
        "id": "14bbdcab.729003",
        "type": "switch",
        "z": "f334d783.f02cb8",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 501,
        "y": 590,
        "wires": [
            [
                "c85d27ec.f0a248"
            ]
        ]
    },
    {
        "id": "5a631631.216b68",
        "type": "http request",
        "z": "be2b3fa7.c7728",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "url": "localhost:1880/led",
        "tls": "",
        "x": 379,
        "y": 145,
        "wires": [
            [
                "a94d7b52.e516e8"
            ]
        ]
    },
    {
        "id": "5b17577c.144ad8",
        "type": "inject",
        "z": "be2b3fa7.c7728",
        "name": "",
        "topic": "",
        "payload": "{\"value\":100}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 166,
        "y": 144,
        "wires": [
            [
                "5a631631.216b68"
            ]
        ]
    },
    {
        "id": "a94d7b52.e516e8",
        "type": "debug",
        "z": "be2b3fa7.c7728",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 144,
        "wires": []
    }
]